	*{
  		margin: 0px;
  		padding: 0px;
  		border: 0;
		outline: none;
		vertical-align: baseline;
  	}
  	::-webkit-scrollbar{
  		display: none;
  	}
	img {
		border: none;
	}
	
	a {
		text-decoration: none;
	}
	
	em {
		font-style: normal;
	}
	
	li {
		list-style: none;
	}
	
	html,body {
		background: white;
		font-size: 10px;
	}
	
	header{
	width: 100%;
	height: 4rem;
	position: fixed;
	z-index: 999;
	/*background: #FF4B6C;*/
	background: url(../img/bg2.png) no-repeat;
	background-size: cover;
}
header>.zuo{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 4rem;
	height: 4rem;
	background: url(../img/back.png) no-repeat center;
	background-size: 80% 80%;
}
header>.zj{
	color: white;
	font-size: 1.7rem;
	position: absolute;
	left: 50%;
	top: 50%;
	 margin: -1rem 0 0 -10%;
}
	.sec1{
		padding-top: 4rem;
		position: relative;
	}
	.sec1>ul>li{
		width: 25%;
		height: 2.5rem;
		float: left;
		text-align: center;
		line-height: 2.5rem;
		font-size: 1.1rem;
	}
	.sec1>ul>.active{
		color: #FF5E53;
		border-bottom:0.2rem solid #FF5E53;
	}
	.sec1>ul>li>.none{
		width: 100%;
		height: 6rem;
		border: 0px solid red;
	}
	.sec2{
		width: 100%;
		height: 6rem;
		position: relative;
		top: 3rem;
	}
	.sec2>ul>li{
		width: 90%;
		height: 25rem;
		border: 0px solid red;
		position: absolute;
		top: 0px;
		left: 1%;
		display: none;		
	}
	.sec2>ul>li>p{
		font-size: 1rem;
		color: #888888;
	}
	.sec2>ul>.add{
		display: block;
	}
