	*{
  		margin: 0px;
  		padding: 0px;
  		border: 0;
		outline: none;
		vertical-align: baseline;
  	}
  	::-webkit-scrollbar{
  		display: none;
  	}
	img {
		border: none;
	}
	
	a {
		text-decoration: none;
	}
	
	em {
		font-style: normal;
	}
	
	li {
		list-style: none;
	}
	
	html,body {
		background: white;
		font-size: 10px;
	}
	
	header{
		width: 100%;
		height: 3rem;
		background: url(../img/bg2.png) no-repeat;
	    background-size: cover;
		position: fixed;
		top: 0px;
		left: 0px;
		z-index: 999;
	}
	header>input{
		width: 70%;
		height: 60%;
		position: absolute;
		left: 10%;
		top: 20%;
		background: rgba(250,250,250,0.6);
		border-radius: 1rem;
		padding-left: 1rem;
		font-size: 1rem;
	}
	section{
		position: relative;
		top: 3rem;
	}
	section>.sec1{
		width: 100%;	
		height: 18rem;	
		position: relative;
	}
	section>.sec1>.ul>li{
		width: 100%;	
		height: 18rem;	
		position: absolute;
		top: 0px;
	}
	section>.sec1>.ul>li>img{
		width: 100%;	
		height: 100%;	
	}
	.add{
		z-index: 1;
	}
	section>.sec1>.num{
		position: absolute;
		z-index: 88;
		bottom: 0.5rem;
		left: 42%;
	}
	section>.sec1>.num>li{
		width: 0.5rem;
		height: 0.5rem;
		border: 1px solid white;	
		border-radius: 50%;
		float: left;	
		margin-right: 0.5rem;
		cursor: pointer;
	}
	section>.sec1>.num>.active{
		background:deeppink;
		border: 1px solid deeppink;
	}
	section>.sec2{
		width: 100%;	
		height: 6rem;	
		position: relative;
		background: white;
		/*margin-left: 3rem;*/
	}
	section>.sec2>ul{
		width: 100%;
		height:6rem ;
		overflow: hidden;
		overflow: scroll;
		}
	section>.sec2>ul>li{
		width: 19%;
		height: 6rem;
		float: left;
		text-align: center;
		font-size: 0.7rem;
	/*	margin-right: 0.5rem;*/
	}
	section>.sec2>ul>li>a>img{
		width: 50%;
		margin-left:0.3rem;
		margin-top: 0.5rem;
	}
	section>.sec2>ul>li>a>p{
		color: #000000;
		font-size: 1rem;
	}
	section>.sec3{
		width: 100%;
		height: 7rem;
		border: 0px solid red;
		position: relative;
		left: 0%;
		top: 0px;
	}
	section>.sec3>img{
		width: 47%;
		height: 100%;
		float: left;
		margin-left: 0.6rem;
	}
	section>.sec3>img:nth-child(2){
		float: right;
		margin-right: 0.6rem;
	}
	section>.sec4{
		width: 95%;
		height: 8rem;
		position: relative;
		top: 0.5rem;
		left: 2.5%;
		border: 0px solid red;
		overflow: hidden;
		overflow-x:scroll ;
	}
	section>.sec4>ul{
		width: 200%;
	}
	section>.sec4>ul>li{
		width: 13%;
		height: 8rem;
		float: left;
		margin-right: 0.5rem;
	}
	section>.sec4>ul>li>img{
		width:100%;
		height: 100%;	
	}
	section>.sec5{
		width:100%;
		height: 0.5rem;
		background: #F0F2F5;
		position: relative;
		top: 1.5rem;
	}
	section>.sec6{
		width:95%;
		height: 9rem;
		position: relative;
		top: 2rem;
		left: 2.5%;
	}
	section>.sec6>img{
		width: 100%;
		height: 100%;
	}
	section>.sec7{
		width: 95%;
		height: 10rem;
		position: relative;
		top: 2.5rem;
		left: 2.5%;
		border: 0px solid red;
		overflow: hidden;
		overflow-x:scroll ;
	}
	section>.sec7>ul{
		width: 200%;
	}
	section>.sec7>ul>li{
		width: 12%;
		height: 10rem;
		float: left;
		margin-right: 0.5rem;
		text-align: center;
		font-size: 1.25rem;
		color: black;
		position: relative;
	}
	section>.sec7>ul>li>p:nth-child(2){
		position: absolute;
		bottom: 15%;
	}
	section>.sec7>ul>li>p:nth-child(3){
		position: absolute;
		bottom: 0%;
		color: red;
	}
	section>.sec7>ul>li>p:nth-child(3)>del{
		color: #DCDCDC;
		font-size: 1rem;
		float: right;
		margin-top: 0.2rem;
		margin-left: 0.8rem;
	}
	section>.sec7>ul>li>a>img{
		width:100%;
		height: 60%;	
	}
	section>.sec7>ul>li>p{
		font-size: 1rem;
	}
	section>.sec8{
		width:95%;
		height: 9rem;
		position: relative;
		top: 3rem;
		left: 2.5%;
	}
	section>.sec8>img{
		width: 100%;
		height: 100%;
	}
	
	
	section>.sec11{
		width:95%;
		height: 4rem;
		position: relative;
		top: 3rem;
		left: 2.5%;
	}
	section>.sec11>img{
		width: 100%;
		height: 100%;
	}
section>.sec12{
	width:95%;
		height: 4rem;
		position: relative;
		top: 3rem;
		left: 2.5%;
}
section>.sec12>ul{
	width: 100%;
	/*height: 10rem;*/
	border: 1px solid red;
}
section>.sec12>ul>li{
	width: 45%;
	height: 15rem;
	float: left;
/*	border: 1px solid red;*/
}
section>.sec12>ul>.e{
	margin-right: 2rem;
}
.footer{
	width: 100%;
	height: 4.5rem;
	position: fixed;
	bottom: 0;
	z-index: 999;
	background: white;
}
.footer>ul{
	display: flex;
	list-style: none;
	justify-content:space-around;
	opacity: 1;
	 align-items:baseline:
}
.footer li{
	width: 5rem;
	text-align: center;
	height: 5rem;
}

.footer li>a>img{
	margin-top: 1rem;
	height: 1.5rem;
}
.footer a{
	color: black;
	text-decoration: none;
}
.lun{
	width: 95%;
	margin: 0 auto;
	position: relative;
	top: 8rem;
	overflow: hidden;
}
.lun>img{
	width: 100%;
	margin: 1rem 0;
}
.lun ul{
	width: 180%;
	display: flex;
	position: relative;
}
.lun li{
	width: 7rem;
	margin-right: 2%;
	text-align: center;
}
.lun li>img{
	width: 100%;
}

